################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FIzzBuzz/.vs
/FIzzBuzz/FIzzBuzzTests/bin
/FIzzBuzz/FIzzBuzzTests/obj
/FIzzBuzz/FizzBuzzGame/bin/Debug/net6.0
/FIzzBuzz/FizzBuzzGame/obj
